{% extends "base.html.twig" %}

{%block content %}

<h1>{{titre}}</h1>
 {# assets/images/logo.png was copied to public/build/logo.png #}
         <img src="{{ asset('build/contact.png') }}" alt="contact">
{% endblock %}
